.page-footer__wrap {
  margin: 80px 0 0 20px;
  padding: 0 20px 40px 0;
}

.page-footer__logo {
  margin: 0 40px 50px 70px;
    &:hover {
      fill: #d22856;
    }
    &:active {
      fill: #f2f2f2;
      opacity: 0.3;
    }
}
  .page-footer__logo-stars {
    display: none;
  }
.page-footer__social-links {
  list-style-type: none;
  padding-bottom: 30px;
}
.social-links__items {
 display: inline-block;
}

.social-links {
  margin-right: 15px;
  text-decoration: none;
  fill: #d22856;

 &--tw {
  border: solid 3px #f2f2f2;
  border-radius: 50%;
  padding: 15px 13px 12px 15px;
  &:hover {
  border: solid 3px #283645;
 }
 &:active {
  border: solid 3px #f2f2f2;
  opacity: 0.3;
 }
 }

 &--fb {
  border: solid 3px #f2f2f2;
  border-radius: 50%;
  padding: 15px 17px 12px 20px;
  background-position: center;
  &:hover {
  border: solid 3px #283645;
 }
 &:active {
  border: solid 3px #f2f2f2;
  opacity: 0.3;
 }
 }
 
 &--yt {
  border: solid 2px #f2f2f2;
  border-radius: 50%;
  padding: 15px 15px 12px 19px;
  &:hover {
  border: solid 2px #283645;
 }
 &:active {
  border: solid 2px #f2f2f2;
  opacity: 0.3;
 }
 }
}
.social-links__img {
  fill: $font-color-3;
}

.page-footer__copyright {
  margin-left: 70px;
}

.page-footer__copyright-title {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}

.page-footer__copyright-img {
  fill: #d22856;
  margin-left: 15px;
}
.page-footer__copyright-img:hover {
  fill: #283645;
}
.page-footer__copyright-img:active {
  opacity: 0.3;
}

@media #{$mobile-widths-only} {
  .page-footer--index {
    display: none;
  }
}

@media #{$tablet-widths} {
.page-footer__wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}
.page-footer__logo {
  margin: 0 20px 50px 20px;
  }
.social-links {
  margin-right: 10px;
  }
.page-footer__copyright {
  margin: 13px 20px 0 55px;
  }
}
.page-footer__copyright-img {
  fill: $font-color-3;
  margin-left: 10px;
}

@media #{$desktop-widths} {
.page-footer__wrap {
  width: 940px;
  margin: 30px 0 90px 110px;
}

.page-footer__logo-stars {
    display: block;
  }
  .page-footer__logo-glases {
    display: none;
  }
.page-footer__social-links {
  margin-left: -25px;
  }

.page-footer__copyright {
  margin: 10px -20px 0 0;
  }

.page-footer__copyright-title {
  font-size: 18px;
  }
.page-footer__copyright-img {
  margin-top: 3px;
}
}
