.page {
  width: 320px;
  margin: 0 auto;
  background-color: $body-background-color;
  font-family: OpenSans;
  font-size: $font-size-1;
  color: $font-color-4;
  line-height: 24px;
}

@media #{$tablet-widths} {
  .page {
    width: 700px;
  }
}

@media #{$desktop-widths} {
  .page {
    width: 1200px;
  }
}
