.post-photo {
  margin: 0 auto;
  background-color: #f2f2f2;

  @media #{$tablet-widths} {
    padding: 55px 0;
    min-height: 400px;
  }
  @media #{$desktop-widths} {
    width: 940px;
    padding: 0;
  }
}

.post-photo__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 35px;

  @media #{$tablet-widths} {
    width: 620px;
    margin-left: 40px;
    flex-direction: row;
    justify-content: space-between;
  }
  @media #{$desktop-widths} {
    width: auto;
    padding: 55px 80px 55px 40px;
  }
}

.post-photo__canvas {
  padding-top: 20px;
  text-align: center;
  @media #{$tablet-widths} {
    padding-top: 0;
    img {
      display: block;
    }
  }
}

.post-photo__functions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    @media #{$tablet-widths} {
      width: 275px;
    }
    @media #{$desktop-widths} {
      width: 385px;
    }
}

.post-photo__ranges {
  @media #{$tablet-widths} {
    display: flex;
    flex-direction: row;
  }
}

.post-photo__inputs {
  position: relative;
  text-align: center;
}

.post-photo__icon-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 205px;
  margin: 10px 20px 35px 55px;

  @media #{$tablet-widths} {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 56px;
    margin: 0;
  }
  @media #{$desktop-widths} {
    width: 83px;
  }
}

.post-photo__icon-btn {
  cursor: pointer;
  width: 44px;
  height: 44px;
  padding: 0;
  font-size: 0;
  border: none;
  outline: none;
  background-color: transparent;
  fill: #d22856;
  &:hover {
      fill: rgba(0, 0, 0, 0.5);
    }
    &:active {
      fill: rgba(0, 0, 0, 0.3);
    }
  
  &--inactive {
    cursor: pointer;
    fill: rgba(0, 0, 0, 0.3);
    &:hover {
      fill: rgba(0, 0, 0, 0.5);
    }
    @media #{$tablet-widths} {
      cursor: auto;
      fill: #d22856;
      &:hover {
        fill: #d22856;
      }
    }
  }
.post-photo__icon-btn-contrast {
  margin-top: 30px;
  @media #{$tablet-widths} {
    margin: 0;
  }
}


  @media #{$tablet-widths} {
    cursor: auto;
    svg {
      width: 22px;
    }
    &--contrast {
    height: 17px;
      svg {
        width: 17px;
      }
    }
    margin: -4px -7px 36px;
  }
  @media #{$desktop-widths} {
    width: 48px;
    svg {
      width: 48px;
    }
  }
}

.post-photo__range {
  -webkit-appearance: none;
  width: 235px;
  height: 2px;
  margin: 30px auto;
  background-color: #283645;
  border: none;
  outline: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 13px;
    height: 13px;
    border: 2px solid #d22856;
    border-radius: 100%;
    background-color: #f2f2f2;

    &:active {
      background-color: #d22856;
    }
  }

  &--hidden {
    display: none;

    @media #{$tablet-widths} {
      display: inline;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 320px;
    height: 1px;
    margin-top: 35px;
    background-color: #dddfe0;

    @media #{$tablet-widths} {
      left: -50px;
      width: 275px;
    }
    @media #{$desktop-widths} {
      left: -95px;
      width: 410px;
    }
  }

  @media #{$tablet-widths} {
    display: block;
    width: 200px;
    margin: 20px auto 71px;
  }
  @media #{$tablet-widths} {
    width: 205px;
    margin-bottom: 69px;
  }
  @media #{$desktop-widths} {
    width: 292px;
    margin-bottom: 69px;
  }
}

.post-photo__control {
  padding: 30px 0;

  @media #{$tablet-widths} {
    padding: 0;
  }
  @media #{$desktop-widths} {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.btn {
  display: block;
  width: 272px;
  height: 50px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-radius: 25px;
  outline: none;
  cursor: pointer;


&--pink {
    color: #d22856;
    border-color: #d22856;
    background-color: #f2f2f2;
    &:hover {
      color: #ffffff;
      background-color: #d22856;
    }
    &:active {
      color: fade(#ffffff, 30%);
      background-color: #d22856;
    }
  }
  &--cancel {
    color: rgba(181, 185, 190, 0.1);
    border-color: rgba(181, 185, 190, 0.1);
    background-color: #f2f2f2;
    &:hover {
      color: rgba(181, 185, 190, 0.3);
      border-color: rgba(181, 185, 190, 0.3);
    }
    &:active {
      color: rgba(255, 255, 255, 0.3);
      border: none;
      background-color: rgba(181, 185, 190, 0.3);
    }
  }
  &--editor {
    width: 277px;
    height: 56px;
    border-radius: 28px;
    margin: 12px auto;

    @media #{$tablet-widths} {
      width: 260px;
      margin: 23px 0 0;
    }
    @media #{$desktop-widths} {
      width: 180px;
      margin-right: -20px;
    }
  }
  }


