@import "variables.scss";

.cost-plan {
  background-color: $blocks-background-color;
}

.cost-plan__wrap {
  padding: 60px 20px 40px 20px;
}

.cost-plan__box {
  margin-bottom: 40px;
}

.cost-plan__items {
  list-style-type: none;
  padding: 0;
  background-color: $body-background-color;
}

.cost-plan__item {
  display: inline;
  border:solid 1px #000000;
}

.cost-plan__rate,
.cost-plan__usd {
  background-color: $header-background-color;
  color: $font-color-2;
}

.cost-plan__rate {
  font-family: OpenSans Bold;
  font-size: $font-size-2;
}

.cost-plan__usd {
  font-family: OpenSans Light;
  font-size: $font-size-3;
}

.cost-plan__paginator,
.cost-plan__toggles {
  margin: 0 110px;
}

