.logo {
  width: 320px;
  height: 68px;
  border-bottom: solid 1px #010101;
  background: url(../img/logo-pink-white-mobile.svg) no-repeat 20px 20px;
}

.logo__link {
  font-size: 0;
  text-decoration: none;
}

@media #{$tablet-widths} {
.logo {
  width: 700px;
  height: 110px;
  background: url(../img/logo-pink-blue-mobile.svg) no-repeat 40px 28px;
  }
}

@media #{$desktop-widths} {
.logo {
  width: 150px;
  border: none;
  background: url(../img/logo-pink-blue-mobile.svg) no-repeat 30px 28px;
  }
}
