@import "variables.scss";

.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.main-nav__wrap {
  display: block;
}

.main-nav__toggle {
  position: absolute;
  width: 50px;
  height: 25px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: block;
  font-size: 0;
  border: none;
  background: rgba(29, 38, 49, 0) no-repeat center;
}

.main-nav--closed .main-nav__toggle {
  background-image: url("../img/icon-menu-burger.svg");
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../img/icon-menu-cross.svg");
}

.main-nav__items {
  display: block;
  margin: 0;
  padding: 0;
  background-color: #283645;
  font-family: OpenSans Bold;
  color: $font-color-2;
  list-style-type: none;
}

.main-nav__item {
  @include list-clear();
  padding: 15px 0;
  text-align: center;
  font-size: $font-size-2;
  text-transform: uppercase;
  border-top: solid 1px #485461;
  border-bottom: solid 1px #010101;
}

.main-nav__link {
  display: block;
  text-decoration: none;
}

