.page-header {
  position: relative;
  width: 320px;
  min-height: 462px;
  margin: 0 auto;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat center;
}

.page-header__img {
  position: absolute;
  top: 176px;
  left: 0;
}

.page-header__heading {
  font-family: OpenSans Light;
  font-size: $font-size-3;
  line-height: 32px;
  color: $font-color-2;
  text-align:center;
  padding: 150px 25px 40px 25px;
}



