.page-header__wrap {
  position: relative;
  margin: 0 auto;
  background: url("../img/bg-back-mobile@1x.jpg") #283645 no-repeat 50% 100%;
}

.page-header__img {
  display: block;
  margin-top: 108px;

  &--tablet {
    display: none;
  }
  &--desktop {
    display: none;
  }
}

.page-header__heading {
  font-family: OpenSans Light;
  font-size: $font-size-3;
  line-height: 30px;
  color: $font-color-2;
  text-align: center;
  padding: 13px 25px 52px 25px;
}

@media #{$mobile-widths-only} {
.page-header__wrap {
  background-color: #283645;
  }
}

@media #{$tablet-widths} {
.page-header__img {
  margin: -27px 0 0 200px;

  &--mobile {
    display: none;
  }
  &--tablet {
    display: block;
  }
}
.page-header__wrap {
  background: url("../img/back-tablet@1x.jpg") #283645 no-repeat 0 100%;
  }
.page-header__downloads-wrap {
  position: relative;
  padding-top: 98px;
  }
.page-header__heading {
  padding: 35px 40px 138px 40px;
  font-family: OpenSans Light;
  font-size: 50px;
  line-height: 60px;

  &--form {
    padding-bottom: 80px;
    }
  }
}

@media #{$desktop-widths} {
.page-header__img {
  margin-top: 0;
  margin-left: 490px;

  &--tablet {
    display: none;
  }
  &--desktop {
    display: block;
  }
}
.page-header__wrap {
  background: url("../img/back-desktop.jpg") #283645 no-repeat 50% 50%;
  }
.page-header__heading {
  padding: 30px 220px 100px 220px;
  font-family: OpenSans Light;
  font-size: 50px;
  line-height: 60px;

  &--form {
    padding-bottom: 100px;
    }
    &--photo {
    padding: 30px 300px 100px 300px;
    }
  }
}

