.page-contacts__wrap {
  padding: 20px 20px 15px 20px;
  text-align: center;
}

.page-contacts__title {
  margin-bottom: 31px;
  font-family: OpenSans Light;
  font-size: $font-size-3;
  line-height: 30px;
}
.page-contacts__box {
  margin-bottom: 21px;
}

.page-contacts__subtitle {
  margin-bottom: -19px;
  font-family: OpenSans Bold;
  font-size: $font-size-2;

  &--write {
    margin-bottom: -8px;
  }
  &--welcome {
    margin-bottom: -16px;
  }
}

.page-contacts__text {
  font-family: OpenSans Light;
  font-size: $font-size-3;
  color: $font-color-3;

&--link {
  text-decoration: none;
  }
  &--link:hover {
    text-decoration: underline;
    color: #283645;
  }
  &--link:active {
    opacity: 0.3;
  }
}

.page-contacts__map--desktop,
.page-contacts__map--table {
    display: none;
  }

@media #{$tablet-widths} {
.page-contacts__boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  }
.page-contacts__box--come {
  margin-left: 200px;
  }
  .page-contacts__map--table {
    display: block;
  }
  .page-contacts__map--mobile,
  .page-contacts__map--desktop {
    display: none;
  }
.page-contacts__title {
  margin: 25px 60px 23px 60px;
  font-size: 40px;
  line-height: 50px;
  }
.page-contacts__box {
  margin: 0 42px 21px 65px;
}

.page-contacts__subtitle {
  margin-bottom: 0;

  &--call {
    margin-bottom: -18px;
  }
  &--write {
    margin-left: -16px;
    margin-bottom: -8px;
  }
  &--welcome {
    margin: 5px 0 -16px -20px;
  }
}
.page-contacts__text {

  &--email {
    margin-top: 15px;
  }
  &--welcome {
    margin: 20px 150px 0 125px;
    line-height: 30px;
    }
  }
.page-contacts__map {
  margin-bottom: -25px;
}
}

@media #{$desktop-widths} {
.page-contacts__box--come {
  margin-left: 0;
  }
  .page-contacts__map--desktop {
    display: block;
  }
  .page-contacts__map--mobile,
  .page-contacts__map--table {
    display: none;
  }
  .page-contacts__title {
  margin: 44px 220px 23px 220px;
  font-size: 50px;
  line-height: 60px;
  }
.page-contacts__box {
  margin: 15px 130px 21px 160px;
  &--come {
    margin: -105px 0 21px 348px;
  }
}
.page-contacts__subtitle {
  &--call {
    margin-bottom: 18px;
  }
  &--write {
    margin-left: -16px;
    margin-bottom: 25px;
  }
  &--welcome {
    margin: -15px 0 35px -20px;
  }
}
.page-contacts__text {
  &--welcome {
    margin: -10px 150px 0 125px;
    }
  }
.page-contacts__map {
  margin-bottom: 45px;
}
}

