.paginator {
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.paginator__reviews {
  margin: 0 auto;
  padding: 21px 0 -10px 0;
}

.paginator__cost-plan {
  margin: 0 auto;
  padding: 40px 0 46px;
}

.paginator__input {
  display: none;

  &:checked + .paginator__label {
    margin: 0;
    border: 3px solid #283645;
    background-color: #ffffff;
  }

  &:active + .paginator__label {
    border: none;
    background-color: rgba(40, 54, 69, 0.1);
  }
}

.paginator__label {
  display: inline-block;
  width: 6px;
  height: 6px;
  padding: 3px;
  border-radius: 100%;
  background-color: rgba(40, 54, 69, 0.3);

  &:hover {
    cursor: pointer;
    border: none;
    background-color: rgba(40, 54, 69, 0.6);
  }
}

.paginator__label-active {
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: #ffffff;
  border: solid 3px #283645;
}

@media #{$tablet-widths} {

  .paginator__reviews {
    padding: 34px 0 0;
  }

  .paginator__cost-plan {
    display: none;
  }
}

@media #{$desktop-widths} {
  .paginator__reviews {
    display: none;
  }
}
