.promo__heading {
  padding: 10px;
  text-align: center;
  font-family: OpenSans Light;
  font-size: $font-size-3;
}

.promo__capabilities {
  position: relative;
  background-color: $blocks-background-color;
  text-align: center;
  padding: 55px 20px 287px 20px;

  &::before {
    content: "";
    position: absolute;
    top: 500px;
    left: 80px;
    display: block;
    background: url(../img/iphone-screen-mobile@1x.png) no-repeat;
    width: 160px;
    height: 277px;
  }
}
.promo__capabilities-wrap {
  margin-bottom: 29px;
}

.promo__capabilities-slogan {
  margin-bottom: 0px;
  font-family: OpenSans Bold;
  font-size: $font-size-2;
  color: $font-color-1;
}

.reviews__item:nth-child(2n+1) {
    display: none;
    width: 300px;
  }

@media #{$mobile-widths-only} {
  .promo__capabilities-effects {
    display: none;
  }
}

@media #{$tablet-widths} {
.promo__headings {
  width: 610px;
  margin: 0 auto;
  padding-left: 5px;
  padding-bottom: 5px;
}
.promo__heading {
  font-size: 40px;
  line-height: 0px;
  &--1{
    margin-top: 65px;
  }
  &--2 {
    margin-top: -25px;
    padding: 0 100px;
    line-height: 48px;
  }
}
  .promo__capabilities {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 5px 20px 0 0;
    padding: 40px 20px 37px 20px;

  &::before {
    display: none;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 40px;
    display: block;
    background: url(../img/iphone-screen-tablet.png) no-repeat;
    width: 268px;
    height: 481px;
  }
}
  .promo__capabilities-wrap {
    width: 310px;
    margin: 12px 0 -11px 0;
    text-align: left;
  }
  .promo__capabilities-effects {
    display: flex;
    justify-content: space-between;
    margin: 60px 40px 40px 40px;
    background-color: $body-background-color;
  }
  .promo__capabilities-effects-svg {
    width: 238px;
    height: 276px;
  }
  .promo__capabilities-wrap-24 {
    width: 310px;
    margin-top: 15px;
  }
  .promo__capabilities-slogan-24 {
    margin-bottom: 15px;
    padding-right: 70px;
    line-height: 30px;
    font-size: 32px;
  }
  .promo__capabilities-text-24 {
    padding-right: 15px;
    line-height: 24px;
    margin-bottom: 12px;
  }
  .promo__capabilities-link {
    margin-top: 10px;
  }
}

@media #{$desktop-widths} {
.promo__headings {
  width: 760px;
  margin: 0 auto;
}
.promo__heading {
  font-size: 50px;
  line-height: 0px;
  &--1{
    margin-top: 85px;
  }
  &--2 {
    margin-top: -25px;
    padding: 0 100px;
    line-height: 56px;
  }
}
  .promo__capabilities {
    display: flex;
    width: 1200px;
    margin:  35px 100px 0 0;
    padding: 40px 20px 0 20px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;

    &::before {
    display: none;
    }

    &::after {
    display: none;
    }
  }
.promo__capabilities-wrap {
  width: 260px;
  margin-top: 278px;
  text-align: center;
}
  .promo__capabilities-wrap--1 {
    margin-left: -38px;
     &::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 200px;
    display: block;
    background: url(../img/iphone-screen-mobile@1x.png) no-repeat;
    width: 160px;
    height: 300px;
    }
  }
  .promo__capabilities-wrap--2 {
    margin-left: -278px;
     &::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 520px;
    display: block;
    background: url(../img/iphone-screen-mobile@1x.png) no-repeat;
    width: 160px;
    height: 300px;
    }
  }
  .promo__capabilities-wrap--3 {
    margin-left: -275px;
     &::after {
    content: "";
    position: absolute;
    top: -10px;
    right: 220px;
    display: block;
    background: url(../img/iphone-screen-mobile@1x.png) no-repeat;
    width: 170px;
    height: 300px;
    }
  }
  .promo__capabilities-slogan {
  margin-bottom: 23px;
  font-size: 30px;
  line-height: 30px;
  &--friend {
    padding: 0 10px;
  }
}
.promo__capabilities-text {
  padding: 0 10px;
  font-size: 18px;
  line-height: 30px;
}
.promo__capabilities-wrap-24 {
    width: 570px;
    margin-right: 173px;
    padding-top: 112px;
  }
  .promo__capabilities-slogan-24 {
    font-family: OpenSans Bold;
    font-size: 30px;
    margin-bottom: 25px
  }
  .promo__capabilities-text-24 {
    margin-bottom: 34px;
    padding-right: 90px;
    font-size: 18px;
    line-height: 30px;
  }
  .promo__capabilities-link {
    font-size: 18px;
    color: $font-color-3;
  }
  .promo__capabilities-effects {
    width: 1240px;
    margin: 0 auto;
    padding-bottom: 56px;
    background-color: $blocks-background-color;
  }
  .promo__capabilities-effects-svg {
    width: 300px;
    height: 347px;
    padding: 60px 0 0 130px;
  }
}


