.reviews__wrap {
  position: relative;
  padding: 32px 25px 40px 25px;
}

.reviews__slider {
  list-style-type: none;
  padding:0;
  margin-bottom: 35px;
  text-align: center;
}

.reviews__author {
  font-size: $font-size-2;
  color: $font-color-1;
}

.reviews__text {
  line-height: 30px;
}

.reviews__toogles,
.reviews__paginator {
  padding: 0 110px 0 110px;
}

@media #{$mobile-widths-only} {
.reviews__text-24 {
  display: none;
  }
.reviews__author--tablet {
  display: none;
  }
}

@media #{$tablet-widths} {
.reviews__author {
  display: none;

  &--tablet {
    margin: 38px 0 -5px 0;
    font-family: OpenSans Bold;
    font-size: 20px;
  }
}
.reviews__text {
  font-size: 18px;
  }
}

@media #{$desktop-widths} {
  .reviews {
    margin-top: 135px;
  }
  .reviews__item {
    width: 700px;
    margin: 0 auto;
  }
.reviews__author {
  &--tablet {
    font-size: 24px;
    margin-bottom: -8px;
  }
  }
.reviews__text-25 {
  font-size: 18px;
  }
}

